body{

}

.MainBody{
	background-color: grey;
}

.loginbox{
	width: 320px;
	height: 420px;
	background: #009933;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border box;
	padding:30px 30px;
	border-radius: 10px;
	border-width: 2%;
	border-color: #000000;
}

.loginBoxHeader{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 40px;
}

.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 120%;
}

.loginbox input{
	width: 100%;
	margin-bottom: 20px;
	}

.loginbox input[type="text"], input[type = "password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size:16px;
	
}

.loginbox input[type="submit"]{
	border:none;
	outline:none;
	height: 40px;
	background: #e6e6e6;
	color: #000;
	font-family: "Verdana";
	font-size: 18px;
	font-weight: bold;
	border-radius: 20px;
	}

.loginox input[type="submit"]:hover
	{
		cursor: pointer;
		background: #e6e6e6;
		color: #000;
		font-weight: bold;
		height: 45px;
	}
.loginbox a{
	text-decoration:none;
	font-family: "Verdana";
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
	}

.loginbox a:hover{
	color: #ffc107;
}

.defaultPhoto{
	padding: 5px;
  width: 30%;
  height: auto;
	border-style: solid;
	border-width: thick;
	border-color: black;
	border-radius: 5px;
}
.container .gallery a img {
	padding: 5px;
  width: 30%;
  height: 30%;
	border-style: groove;
	border-width: 5px;
	border-color: black;
	border-radius: 5px;
}


.container .gallery a:hover img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 5;
}
.photoSubmission{
	font-weight: bold;
	color: white;
	background-color: #009933;
	width: 50%;
	padding: 10px;
	border-style: solid;
	border-width: thick;
	border-color: black;
	border-radius: 5px;
}

.MainLoginHeader{
	font-size: 300%;
	font-family: "Verdana";
	color: white;
	font-weight: bold;
}
